@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #242424;
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar::-webkit-scrollbar{
  width:10px;
}

.sidebar::-webkit-scrollbar-track{
  background:#191919 ;
  border-radius: 100vw;
  margin-block: .5rem;
}

.sidebar::-webkit-scrollbar-thumb{
  background: #313131;
  border-radius: 100vw;
  border:3px solid #191919;
}

::selection{
  background-color: #6E56CF;
}

.plex{
font-family: "JetBrains Mono";
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.grid-center{
  display: grid;
  grid-template-columns: auto  auto;
}

.prop{
  background: #3A3A3A;
  border-radius: 4px;
  padding: 0px 4px;
  font-size: 12px;
  font-family: "JetBrains Mono";
}

.jost{
  font-family: Jost;
}

.tablerow:not(:last-child){
  border-bottom: 1px solid #484848;
}

.gradient-text{
  background-image: linear-gradient(to bottom right, #22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  color: transparent;
}

.avatar{
  width: 70px;
  height: 70px;
}

.av-small{
  width: 50px;
  height: 50px;
}
.av-large{
  width: 90px;
  height: 90px;
}

button{
  background-color: #EEEEEE;
  color: #222222;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
}
button:hover{
  background-color: #B4B4B4;
}

button:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-red-filled{
  background-color: #D92D20;
  color: #EEEEEE;
}
.btn-red-filled:hover{
  background-color: #d92c2060;
  color: #EEEEEE;
}

.btn-red-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-blue-filled{
  background-color: #1570EF;
  color: #EEEEEE;
}
.btn-blue-filled:hover{
  background-color: #1570ef60;
  color: #EEEEEE;
}
.btn-blue-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-green-filled{
  background-color: #079455;
  color: #EEEEEE;
}
.btn-green-filled:hover{
  background-color: #07945460;
  color: #EEEEEE;
}
.btn-green-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}


.btn-yellow-filled{
  background-color: #DC6803;
  color: #EEEEEE;
}
.btn-yellow-filled:hover{
  background-color: #dc680360;
  color: #EEEEEE;
}
.btn-yellow-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-small{
  padding: 8px 12px;
  font-size: 14px;
}

.btn-large{
  padding: 16px 22px;
  font-size: 18px;
}

.btn-outline{
  background-color: transparent;
  border: 1px solid #B4B4B4;
  color: #B4B4B4;
}

.btn-outline:hover{
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-red-outline{
  border: 1px solid #d92c20a2;
  color: #D92D20;
}
.btn-red-outline:hover{
  border:1px solid #D92D20;
  color: #D92D20;
  background-color: #d92c202a;
}
.btn-red-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-blue-outline{
  border: 1px solid #1570efa2;
  color: #1570EF;
}
.btn-blue-outline:hover{
  border:1px solid #1570EF;
  color: #1570EF;
  background-color: #1570ef2a;
}
.btn-blue-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-green-outline{
  border: 1px solid #079454a2;
  color: #079455;
}
.btn-green-outline:hover{
  border:1px solid #079455;
  color: #079455;
  background-color: #0794542a;
}
.btn-green-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-yellow-outline{
  border: 1px solid #dc6803a2;
  color: #DC6803;
}
.btn-yellow-outline:hover{
  border:1px solid #DC6803;
  color: #DC6803;
  background-color: #dc68032a;
}
.btn-yellow-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-text{
  background-color: transparent;
  color: #B4B4B4;
}
.btn-text:hover{
  background-color: #313131;
  color: #EEEEEE;
}
.btn-text:disabled{
  background-color: transparent;
  color: #484848;
}

.btn-red-text{
  color: #D92D20;
}
.btn-red-text:hover{
  color: #D92D20;
  background-color: #d92c202a;
}
.btn-red-text:disabled{
  background-color: transparent;
  color: #484848;
}

.btn-blue-text{
  color: #1570EF;
}
.btn-blue-text:hover{
  color: #1570EF;
  background-color: #1570ef2a;
}
.btn-blue-text:disabled{
  background-color: transparent;
  color: #484848;
}


.btn-yellow-text{
  color: #DC6803;
}
.btn-yellow-text:hover{
  color: #DC6803;
  background-color: #dc68032a;
}
.btn-yellow-text:disabled{
  background-color: transparent;
  color: #484848;
}


.btn-green-text{
  color: #079455;
}
.btn-green-text:hover{
  color: #079455;
  background-color: #0794542a;
}
.btn-green-text:disabled{
  background-color: transparent;
  color: #484848;
}

.btn-violet-text{
  color: #6E56CF;
}
.btn-violet-text:hover{
  color: #6E56CF;
  background-color: #6e56cf2a;
}
.btn-violet-text:disabled{
  background-color: transparent;
  color: #484848;
}


.item:first-child {
  border-radius: 8px 8px 0px 0px;
}

.item:last-child {
  border-radius: 0px 0px 8px 8px;
}


.badge{
  padding: 2px 8px;
  color: #EEEEEE;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  border:2px solid #606060;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}

.badge-small{
  padding: 2px 4px;
  font-size: 12px;
}

.badge-large{
  padding: 4px 12px;
}

.badge-red{
  border: 1px solid #D92D20;
  color: #D92D20;
}
.badge-yellow{
  border: 1px solid #DC6803;
  color: #DC6803;
}
.badge-green{
  border: 1px solid #079455;
  color: #079455;
}
.badge-blue{
  border: 1px solid #1570EF;
  color: #1570EF;
}
.badge-indigo{
  border: 1px solid #444CE7;
  color: #444CE7;
}
.badge-purple{
  border: 1px solid #6938EF;
  color: #6938EF;
}
.badge-pink{
  border: 1px solid #DD2590;
  color: #DD2590;
}

.badge-square{
  border-radius: 4px;
}

.badge-pill{
  border-radius: 25px;
}

.alert{
  border: 1px solid #606060;
  color: #B4B4B4;
  width: 90vw;
}

.alert-success{
  border: 1px solid #079455;
}
.alert-warning{
  border: 1px solid #DC6803;
}
.alert-error{
  border: 1px solid #D92D20;
}
.alert-neutral{
border: 1px solid #1570EF;
}

.toast{
  background-color: #2A2A2A;
  color:#EEEEEE;
}
.toast-success{
  background-color: #079455;
  color:#EEEEEE;
}
.toast-warning{
  background-color: #DC6803;
  color: #EEEEEE;
}
.toast-error{
  background-color: #D92D20;
  color: #EEEEEE;
}
.toast-info{
  background-color: #1570EF;
  color: #EEEEEE;
}

.toast-bottom{
  position: fixed;
  bottom: 50px;
  left:50%;
  transform: translateX(-50%);
}
.toast-top{
  position: fixed;
  top: 50px;
  left:50%;
  transform: translateX(-50%);
}

.toast-bottom-right{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.toast-top-right{
  position: fixed;
  top: 50px;
  right: 50px;
}
.toast-bottom-left{
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.toast-top-left{
  position: fixed;
  top: 50px;
  left: 50px;
}


.tool{
  background-color: #6E56CF;
  color: #EEEEEE;
}

.tool-top-left{
  left:-80%;
}
.tool-top-left-arrow{
  right: 0;
  left:90%
}
.tool-top-right{
  left:180%;
}
.tool-top-right-arrow{
  left: 10%;
}
.tool-left{
  left:-200%;
  bottom: -25%;
}
.tool-left-arrow{
  left:107%;
  top:50%;
}
.tool-right{
  left:300%;
  bottom: -25%;
  z-index: 20;
}
.tool-right-arrow{
  left:-7%;
  top:50%;
}
.tool-bottom{
  bottom: -220%;
}
.tool-bottom-arrow{
  left:50%;
  top:-35%;
}
.tool-bottom-left{
  bottom: -220%;
  left:-80%;
}
.tool-bottom-left-arrow{
  left:90%;
  top:-35%;
}
.tool-bottom-right{
  bottom: -220%;
  left:180%;
}
.tool-bottom-right-arrow{
  left:10%;
  top:-35%;
}

.test-img{
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%,-50%);
  left: 40px;
}

@media(max-width:639px){
  .smaller-img{
    background-position-y: -25px;
  }
}

.switch{
  transition: 0.5s ease-in-out;
}

.spinner-dash{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 8px solid white;
  border-top:8px solid #6E56CF;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  } to{
    transform: rotate(1turn);
  }
}

.spinner-dots{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.spinner-dots > span{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6E56CF;
  animation: updown 0.5s ease-in-out infinite alternate;
}

.spinner-dots>span:nth-child(2){
  animation-delay: 0.2s;
}
.spinner-dots>span:nth-child(3){
  animation-delay: 0.4s;
}
@keyframes updown{
  from {
    transform: translateY(0);
  }to{
    transform: translateY(-10px);
  }
}

.spinner-dotspin{
  position: relative;
  width: 50px;
  height: 50px;
}

.spinner-dotspin > span{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.spinner-dotspin > span:nth-child(1){
  transform: rotate(36deg);
}
.spinner-dotspin > span:nth-child(2){
  transform: rotate(72deg);
}
.spinner-dotspin > span:nth-child(3){
  transform: rotate(108deg);
}
.spinner-dotspin > span:nth-child(4){
  transform: rotate(144deg);
}
.spinner-dotspin > span:nth-child(5){
  transform: rotate(180deg);
}
.spinner-dotspin > span:nth-child(6){
  transform: rotate(216deg);
}.spinner-dotspin > span:nth-child(7){
  transform: rotate(252deg);
}.spinner-dotspin > span:nth-child(8){
  transform: rotate(288deg);
}.spinner-dotspin > span:nth-child(9){
  transform: rotate(324deg);
}.spinner-dotspin > span:nth-child(10){
  transform: rotate(360deg);
}

.spinner-dotspin span::before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  background: #6E56CF;
  border-radius: 100%;
  animation: animate 1s linear infinite;
}

.spinner-dotspin span:nth-child(2)::before{
  animation-delay: 0.1s;
}
.spinner-dotspin span:nth-child(3)::before{
  animation-delay: 0.2s;
}
.spinner-dotspin span:nth-child(4)::before{
  animation-delay: 0.3s;
}
.spinner-dotspin span:nth-child(5)::before{
  animation-delay: 0.4s;
}
.spinner-dotspin span:nth-child(6)::before{
  animation-delay: 0.5s;
}
.spinner-dotspin span:nth-child(7)::before{
  animation-delay: 0.6s;
}
.spinner-dotspin span:nth-child(8)::before{
  animation-delay: 0.7s;
}
.spinner-dotspin span:nth-child(9)::before{
  animation-delay: 0.8s;
}
.spinner-dotspin span:nth-child(10)::before{
  animation-delay: 0.9s;
}


@keyframes animate {
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }
}