@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #242424;
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.grid-center{
  display: grid;
  grid-template-columns: auto  auto;
}

.jost{
  font-family: Jost;
}

.gradient-text{
  background-image: linear-gradient(to bottom right, #22c1c3, #fdbb2d);
  -webkit-background-clip: text;
  color: transparent;
}

.avatar{
  width: 70px;
  height: 70px;
}

.av-small{
  width: 50px;
  height: 50px;
}
.av-large{
  width: 90px;
  height: 90px;
}

button{
  background-color: #EEEEEE;
  color: #222222;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
}
button:hover{
  background-color: #B4B4B4;
}

button:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-red-filled{
  background-color: #D92D20;
  color: #EEEEEE;
}
.btn-red-filled:hover{
  background-color: #d92c2060;
  color: #EEEEEE;
}

.btn-red-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-blue-filled{
  background-color: #1570EF;
  color: #EEEEEE;
}
.btn-blue-filled:hover{
  background-color: #1570ef60;
  color: #EEEEEE;
}
.btn-blue-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-green-filled{
  background-color: #079455;
  color: #EEEEEE;
}
.btn-green-filled:hover{
  background-color: #07945460;
  color: #EEEEEE;
}
.btn-green-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}


.btn-yellow-filled{
  background-color: #DC6803;
  color: #EEEEEE;
}
.btn-yellow-filled:hover{
  background-color: #dc680360;
  color: #EEEEEE;
}
.btn-yellow-filled:disabled{
  cursor: auto;
  background-color: #222222;
  color: #484848;
}

.btn-small{
  padding: 8px 12px;
  font-size: 14px;
}

.btn-large{
  padding: 16px 22px;
  font-size: 18px;
}

.btn-outline{
  background-color: transparent;
  border: 1px solid #B4B4B4;
  color: #B4B4B4;
}

.btn-outline:hover{
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.btn-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-red-outline{
  border: 1px solid #d92c20a2;
  color: #D92D20;
}
.btn-red-outline:hover{
  border:1px solid #D92D20;
  color: #D92D20;
  background-color: #d92c202a;
}
.btn-red-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-blue-outline{
  border: 1px solid #1570efa2;
  color: #1570EF;
}
.btn-blue-outline:hover{
  border:1px solid #1570EF;
  color: #1570EF;
  background-color: #1570ef2a;
}
.btn-blue-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-green-outline{
  border: 1px solid #079454a2;
  color: #079455;
}
.btn-green-outline:hover{
  border:1px solid #079455;
  color: #079455;
  background-color: #0794542a;
}
.btn-green-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-yellow-outline{
  border: 1px solid #dc6803a2;
  color: #DC6803;
}
.btn-yellow-outline:hover{
  border:1px solid #DC6803;
  color: #DC6803;
  background-color: #dc68032a;
}
.btn-yellow-outline:disabled{
  border: 1px solid #484848;
  background-color: transparent;
  color: #484848;
}

.btn-text{
  background-color: transparent;
  color: #B4B4B4;
}
.btn-text:hover{
  background-color: #313131;
  color: #EEEEEE;
}
.btn-text:disabled{
  background-color: transparent;
  color: #484848;
}

.btn-red-text{
  color: #D92D20;
}
.btn-red-text:hover{
  color: #D92D20;
  background-color: #d92c202a;
}
.btn-red-text:disabled{
  background-color: transparent;
  color: #484848;
}

.btn-blue-text{
  color: #1570EF;
}
.btn-blue-text:hover{
  color: #1570EF;
  background-color: #1570ef2a;
}
.btn-blue-text:disabled{
  background-color: transparent;
  color: #484848;
}


.btn-yellow-text{
  color: #DC6803;
}
.btn-yellow-text:hover{
  color: #DC6803;
  background-color: #dc68032a;
}
.btn-yellow-text:disabled{
  background-color: transparent;
  color: #484848;
}


.btn-green-text{
  color: #079455;
}
.btn-green-text:hover{
  color: #079455;
  background-color: #0794542a;
}
.btn-green-text:disabled{
  background-color: transparent;
  color: #484848;
}



.item:not(:last-child) {
  border-bottom: 1px solid #6B7280;
}

.badge{
  padding: 2px 8px;
  color: #EEEEEE;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  border:2px solid #606060;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}

.badge-small{
  padding: 2px 4px;
  font-size: 12px;
}

.badge-large{
  padding: 4px 12px;
}

.badge-red{
  border: 1px solid #D92D20;
  color: #D92D20;
}
.badge-yellow{
  border: 1px solid #DC6803;
  color: #DC6803;
}
.badge-green{
  border: 1px solid #079455;
  color: #079455;
}
.badge-blue{
  border: 1px solid #1570EF;
  color: #1570EF;
}
.badge-indigo{
  border: 1px solid #444CE7;
  color: #444CE7;
}
.badge-purple{
  border: 1px solid #6938EF;
  color: #6938EF;
}
.badge-pink{
  border: 1px solid #DD2590;
  color: #DD2590;
}

.badge-square{
  border-radius: 4px;
}

.badge-pill{
  border-radius: 25px;
}

.alert{
  border: 1px solid #606060;
  color: #B4B4B4;
  width: 90vw;
}

.alert-success{
  border: 1px solid #079455;
}
.alert-warning{
  border: 1px solid #DC6803;
}
.alert-error{
  border: 1px solid #D92D20;
}
.alert-neutral{
border: 1px solid #1570EF;
}
.toast-success{
  background-color:#D1FAE5;
  color:#065F46;
}
.toast-warning{
  background-color: #FFFBEB;
  color: #92400E;
}
.toast-error{
  background-color: #FEE2E2;
  color: #991b1b;
}
.toast-neutral{
  background-color: #22c0c325;
  color: #22c1c3;
}

.toast-lower-right{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.toast-upper-right{
  position: fixed;
  top: 50px;
  right: 50px;
}
.toast-lower-left{
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.toast-upper-left{
  position: fixed;
  top: 50px;
  left: 50px;
}


.tool{
  background-color: white;
  color: #111827;
}

.tool-black-bold{
  background-color: #262626;
  color: #C7C7C7;
}
.tool-blue-light{
  background-color: #E0E7FF;
  color: #1E40AF;
}
.tool-blue-bold{
  background-color: #1E40AF;
  color: #FFFFFF;
}
.tool-purple-light{
  background-color: #FFF3FC;
  color: #A9229B;
}
.tool-purple-bold{
  background-color: #A9229B;
  color: #FFFFFF;
}
.tool-green-light{
  background-color: #E7FFF3;
  color: #137A2A;
}
.tool-green-bold{
  background-color: #47AA5D;
  color: #FFFFFF;
}
.tool-black-light{
  background-color: white;
  color: #111827;
}

.test-img{
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%,-50%);
  left: 40px;
}

@media(max-width:639px){
  .smaller-img{
    background-position-y: -25px;
  }
}