@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: #F3F4F6;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: aliceblue;
  color: #242424;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-sm{
  padding: 5px 8px;
}
.btn-lg{
  padding: 15px 20px;
}

.btn-success{
  background-color:#D1FAE5;
  color:#065F46;
  border:1px solid #065F46;
}
.btn-success:hover{
  background-color:#b1f7d3;
}

.btn-warning{
  background-color:#FEF3C7;
  color:#92400E;
  border:1px solid #92400E;
}
.btn-warning:hover{
  background-color:#fae9a7;
}

.btn-error{
  background-color:#FEE2E2;
  color:#991B1B;
  border:1px solid #991B1B;
}
.btn-error:hover{
  background-color:#f7bdbd;
}

.item:not(:last-child) {
  border-bottom: 1px solid #6B7280;
}

.badge{
  padding: 7px 20px;
  background-color: #F3F4F6;
  color: black;
  border-radius: 4px;
  font-weight: 500;
}

.badge-red{
  background-color: #FEE2E2;
  color: #991b1b;
}
.badge-yellow{
  background-color: #FEF3C7;
  color: #92400E;
}
.badge-green{
  background-color: #D1FAE5;
  color: #065F46;
}
.badge-blue{
  background-color: #DBEAFE;
  color: #1E40AF;
}
.badge-indigo{
  background-color: #E0E7FF;
  color: #3730A3;
}
.badge-purple{
  background-color: #EDE9FE;
  color: #5B21B6;
}
.badge-pink{
  background-color: #FCE7F3;
  color: #9D174D;
}

.badge-square{
  border-radius: 4px;
}

.badge-pill{
  border-radius: 25px;
}

.banner-success{
  background-color: #D1FAE5;
  color: #065F46;
}
.banner-warning{
  background-color: #FFFBEB;
  color: #92400E;
}
.banner-error{
  background-color: #FEE2E2;
  color: #991b1b;
}
.banner-neutral{
  background-color: #DBEAFE;
  color: #1E40AF;
}

.toast-success{
  background-color:#D1FAE5;
  color:#065F46;
}
.toast-warning{
  background-color: #FFFBEB;
  color: #92400E;
}
.toast-error{
  background-color: #FEE2E2;
  color: #991b1b;
}
.toast-neutral{
  background-color: #DBEAFE;
  color: #1E40AF;
}

.toast-lower-right{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.toast-upper-right{
  position: fixed;
  top: 50px;
  right: 50px;
}
.toast-lower-left{
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.toast-upper-left{
  position: fixed;
  top: 50px;
  left: 50px;
}

.tool{
  background-color: white;
  color: #111827;
}

.tool-black-bold{
  background-color: #262626;
  color: #C7C7C7;
}
.tool-blue-light{
  background-color: #E0E7FF;
  color: #1E40AF;
}
.tool-blue-bold{
  background-color: #1E40AF;
  color: #FFFFFF;
}
.tool-purple-light{
  background-color: #FFF3FC;
  color: #A9229B;
}
.tool-purple-bold{
  background-color: #A9229B;
  color: #FFFFFF;
}
.tool-green-light{
  background-color: #E7FFF3;
  color: #137A2A;
}
.tool-green-bold{
  background-color: #47AA5D;
  color: #FFFFFF;
}
.tool-black-light{
  background-color: white;
  color: #111827;
}
